[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
starlette = "*"
uvicorn = "*"
pydantic = "*"
langchain-community = "*"
langchain-chroma = "*"
pypdf = "*"
sentence-transformers = "*"
google-generativeai = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.12"
